In [2]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
#creating path for easier import of data
path = r'C:\Users\Stugots\Desktop\Bootcamp Stuff\Intro to Python\Instacart Basket Analysis 01-2025'

In [4]:
#importing data as dataframe
df = pd.read_pickle(os.path.join(path, '02 Data' , 'Prepared Data', 'cust_ords_prods.pkl'))

In [5]:
#checking data for PII
df.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,customer_frequency,First Name,Last Name,Gender,State,Age,Date Joined,Number of Dependants,Family Status,Income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [6]:
#dropping columns for the sake of  removing PII
df = df.drop(columns = ['First Name','Last Name'])

In [7]:
#create a for-loop to categorize the state column into the regional categories 
result = []

for value in df['State']:
  if value in ['Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']:
    result.append('Northeast')
  elif value in ['Wisconsin','Michigan','Illinois','Indiana','Ohio','North Dakota','South Dakota','Nebraska','Kansas','Minnesota','Iowa','Missouri']:
    result.append("Midwest")
  elif value in ['Idaho','Montana','Wyoming','Nevada','Utah','Colorado','Arizona','New Mexico','Alaska','Washington','Oregon','California','Hawaii']:
    result.append("West")
  else:
    result.append("South")

In [8]:
#checking new list
result

['South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 ...]

In [9]:
df['Region'] = result

In [10]:
df.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,median_days_since_order,customer_frequency,Gender,State,Age,Date Joined,Number of Dependants,Family Status,Income,Region
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South

In [11]:
df.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_the_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'merge', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spender_type', 'median_days_since_order', 'customer_frequency',
       'Gender', 'State', 'Age', 'Date Joined', 'Number of Dependants',
       'Family Status', 'Income', 'Region'],
      dtype='object')

In [12]:
#creating cross tab of region and spender_type
crosstab = pd.crosstab(df['Region'], df['spender_type'], dropna = False)

In [13]:
crosstab

spender_type  High Spender  Low Spender
Region
Midwest             155975      7441350
Northeast           108225      5614511
South               209691     10582194
West                160354      8132559

In [14]:
#creating flag for low vs high activity customers
df.loc[df['max_order'] < 5, 'activity_flag'] = 'low activity customer'
df.loc[df['max_order'] >= 5, 'activity_flag'] = 'high activity customer'

In [15]:
#checking if it worked
df['activity_flag'].value_counts()

activity_flag
high activity customer    30964564
low activity customer      1440295
Name: count, dtype: int64

In [16]:
#excluding the low activity customers per CFO's interest
df_excluded = df[df['activity_flag'] != 'low activity customer']

In [17]:
df_excluded.shape

(30964564, 32)

In [18]:
pd.set_option('display.max_columns', None)

In [19]:
df_excluded.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spender_type,median_days_since_order,customer_frequency,Gender,State,Age,Date Joined,Number of Dependants,Family Status,Income,Region,activity_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer

In [20]:
#exporting new data frame 
df_excluded.to_pickle(os.path.join(path, '02 Data' , 'Prepared Data' , 'ords_prods_cust_high_activity.pkl'))